@import "../tools.scss";

.footer {
  @include flex-display(row, space-around);
  @include block-decoration($cream-dark-theme, top, $brown-theme, 5px);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  max-height: 8%;
  font-size: 120%;
  align-items: center;
}

.refText {
  margin: 0;
  color: blueviolet;
}

.title {
  margin: 0;
  font-size: 108%;
  color: $brown-theme;
}

.version {
  margin: 0;
  color: rgb(5, 95, 5);
}

.refText:hover {
  color: crimson;
  font-size: 110%;
}
